<!DOCTYPE html>
<html>
    <head>
        <title>HackRU</title>
    </head>
    <body>
      <a href="{{ url_for('index') }}">Home</a><br>
      <a href="{{ url_for('account') }}">Manage Account</a><br>
      <a href="{{ url_for('confirm') }}">Confirm Attendance</a><br>
      <a href="{{ url_for('logout') }}">Log Out</a><br>
      {% if current_user.is_admin %}
        <a href="{{ url_for('stats', provider='mlh') }}">Statistics</a><br>
      {% endif %}
        Hi {{ name }}! This is your Dashboard! :)
    </body>
</html>
