<html>
    <head>
        <title>HackRU</title>
    </head>
    <body>
        <h1>Welcome to HackRU!</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if not current_user.is_authenticated %}
            <h2>I don't know you!</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='mlh') }}">Login with MyMLH</a></p>
        {% else %}
            <h2>Hi {{ current_user.name }}!</h2>
            <br><a href="{{ url_for('dash') }}"> Dashboard </a>
        {% endif %}
    </body>
</html>
