<!DOCTYPE HTML>
<html>
<head>

	<!--Connie is the best. She wasn't here-->

	<head lang="en">
		<meta name="description" content="Sign up for Rutgers University Spring 2016 hackathon, HackRU! April 16th to 17th.">
		<meta name="title" content="HackRU">
		<meta property="og:title" content="HackRU Spring 2016"/>
		<meta property="og:description" content="Get hyped for the best hackathon Rutgers has to offer! HackRU's 10th hackathon is coming this Spring 2016! April 16th to 17th."/>
		<meta property="og:image" content="http://yuzu.s-ul.eu/CafRwagJ"/>
		<link href="../static/assets/icon/fav.png" rel="shortcut icon" type="image/png"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='../static/stylesheets/sign-up.css' rel='stylesheet' type="text/css">

		<script type="text/javascript" src="../static/js/bootstrap-filestyle.min.js"></script>
	</head>
	<body>
		<nav>
			<div class="container">
				<ul class="logo">
					<a href="./#landing"><img src="../static/assets/img/hack-ru-logo-rel.svg"></a>
				</ul>
				<ul class="items">
					<span class="divide">
						<li><a href="./#1">about</a></li>
						<li><a href="./#2">faq</a></li>
					</span>
					<li><a href="./#3">schedule</a></li>
					<li><a href="./#4">sponsors</a></li>
				</ul>
			</div>
		</nav>
		<section id="main">
			<div class="banner" style="background-image: url('../static/assets/img/faq.jpg')">
				<div class="wrapper faq">
					<h1>Manage Account</h1>
				</div>
			</div>
		</section>
		<section id="active-area">
			<div class="main-container">

				<form action="{{ url_for('account') }}" method="POST" enctype="multipart/form-data">

					<div class="input-wrapper" label="Github Username">
						<input id="github" name="github" class="inpt normal" value="{{ github }}" type="text" />
					</div>


					<div class="btn-wrapper" label="Resume">
						<input type="hidden" name="MAX_FILE_SIZE" value=2048 /><!-- 2MB limit -->
						<input id="resume" type="file" class="filestyle" name="resume" data-placeholder="{{ resume }}" data-buttonBefore="true"/>
						<p class="fine-print" style="height: 5px;">We accept .pdf, .txt, .doc or .docx files under 2MB</p>

					</div>

					<a href="{{ url_for('resumes', res=current_user.mlh_id+'_'+resume) }}">
					<!--p style="margin-top: -25px; margin-bottom: -10px;"-->
					<center style="margin-top: -25px; margin-bottom: -10px;">Click here to see Current Resume</center>
					</p>
					</a>

					<div class="check-wrapper" style="margin-left: 120px;">
						<div class="squaredThree">
							{% if current_user.is_mentor == True %}
							<input type="checkbox" value="mentor" id="squaredThree" name="check" checked="true"/>
							{% elif current_user.is_mentor == False %}
							<input type="checkbox" value="mentor" id="squaredThree" name="check"/>
							{% endif %}
							<label for="squaredThree" style="margin-top: 10px;"></label>
						</div>
						<p class="checkbox" style="height: 20px;">I'd like to sign up as a mentor!</p>
					</div>


					{% if error %}
					<p><strong>{{ error }}</strong></p>
					{% endif %}

					<button class="btn-ru" value="Submit" type="submit">Save</button>

				</form>

				<a href="{{ url_for('dash') }}">
					<button class="btn-ru">Back</button>
				</a>
			</div>
		</section>
		<script type="text/javascript">
			$(":file").filestyle({
				placeholder: "{{ resume }}",
				buttonBefore: true
			});
		</script>
	</body>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74499803-1', 'auto');
		ga('send', 'pageview');
	</script>
	
	</html>
